<style>
    .relative input:focus + label,
  .relative input:not(:placeholder-shown) + label {
    top: -13px; /* Adjust as needed */
    left: -1px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #fb7a24; /* Change to your desired color */
    background-color: black; /* Add background color */
    padding: 0 4px; /* Add padding to the label */
    z-index: 1; /* Ensure the label is above the input */
  }
  </style>
  
  
  <%- include ('../patch/topper.ejs') %>
  <div class="min-h-screen flex items-center justify-center bg-black">
    <div class="bg-black bg-opacity-10 p-8 mb-6 rounded-xl max-w-md w-full">
      <div class="w-full max-w-sm p-8 backdrop-filter backdrop-blur-sm bg-black bg-opacity-50 rounded-2xl shadow-2xl border border-white/10">
        <h2 class="text-4xl p-2 font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-red-600 mb-8 text-center">Forgot Password</h2>
        
       <!-- flash message  -->
       <%- include('../patch/messages.ejs') %>
        
        
        <form class="space-y-4" action="/resetPassword" method="POST" id="resetPasswordForm">
          
          <div class="relative">
            <input id="newPassword" name="newPassword" type="password" placeholder=""  class=" block w-full px-2 py-2 bg-transparent text-white border border-gray-300 rounded-lg focus:outline-none focus:border-orange-500 placeholder:text-transparent transition duration-300">
            <label for="newPassword" class="absolute left-2 top-2 ml-2 text-white transition-all duration-300 transform origin-left scale-75 pointer-events-none">New Password</label>
            <p id="passwordError" class="text-red-200 text-sm" aria-live="assertive"></p>
            <button type="button" id="toggleResetPassword" class="absolute right-2 top-2 text-orange-500">
              <span class="material-icons" id="resetEyeIcon">visibility</span>
            </button>
           
          </div>
  
          <div class="relative">
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder=""  class=" block w-full px-2 py-2 bg-transparent text-white border border-gray-300 rounded-lg focus:outline-none focus:border-orange-500 placeholder:text-transparent transition duration-300">
            <label for="confirmPassword" class="absolute left-2 top-2 ml-2 text-white transition-all duration-300 transform origin-left scale-75 pointer-events-none"> Confirm Password</label>
            <p id="confirmPasswordError" class="text-red-200 text-sm" aria-live="assertive"></p>
            <button type="button" id="toggleConfirmResetPassword" class="absolute right-2 top-2 text-orange-500">
              <span class="material-icons" id="confirmResetEyeIcon">visibility</span>
            </button>
          
          </div>
  
               
          <div>
            <button
              type="submit"
              class="styled-btn tracking-wider w-full py-2 px-2 bg-gradient-to-r from-orange-400 to-black-600 text-white font-bold rounded-lg hover:from-orange-500 hover:to-black-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400 transform hover:scale-105"
            >
              Submit
            </button>
          </div>
  
  
        </form>
    
  
       
      </div>
    </div>
  </div>
  <%- include ('../patch/bottom.ejs') %>
  
  <script>
    const form = document.getElementById('resetPasswordForm');
    const passwordInput = document.getElementById('newPassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');
  
    confirmPasswordInput.addEventListener('input',function(){
      if(passwordInput.value !== confirmPasswordInput.value){
        confirmPasswordError.textContent = "The password you entered do not match.Please try again"
      } else {
        confirmPasswordError.textContent = "";
      }
    })
  
    form.addEventListener('submit',function(event) {
      let valid = true;
      if (passwordInput.value !== confirmPasswordInput.value) {
        confirmPasswordError.textContent = "The password you entered do not match.Please try again"
        valid =false;
      }
  
      if(!valid){
        event.preventDefault()
      }
    })
  
  
    // toggle reset password visibility
    const toggleResetPasswords = document.getElementById('toggleResetPassword');
    const resetPasswordInputs = document.getElementById('newPassword');
    const resetEyeIcon = document.getElementById('resetEyeIcon');
  
    toggleResetPasswords.addEventListener('click', function () {
      const type = resetPasswordInputs.getAttribute('type') === 'password' ? 'text' : 'password';
      resetPasswordInputs.setAttribute('type', type);
      resetEyeIcon.textContent = type === 'password' ? 'visibility' : 'visibility_off';
  
      if (type == 'text') {
        resetPasswordInputs.classList.add('border-orange-500');
      }
    });
  
  
    // toggle confirm reset password visibility
    const toggleConfirmResetPasswords = document.getElementById('toggleConfirmResetPassword');
    const confirmResetPasswordInputs = document.getElementById('confirmPassword');
    const confirmResetEyeIcon = document.getElementById('confirmResetEyeIcon');
  
    toggleConfirmResetPasswords.addEventListener('click', function () {
      const type = confirmResetPasswordInputs.getAttribute('type') === 'password' ? 'text' : 'password';
      confirmResetPasswordInputs.setAttribute('type', type);
      confirmResetEyeIcon.textContent = type === 'password' ? 'visibility' : 'visibility_off';
  
      if (type == 'text') {
        confirmResetPasswordInputs.classList.add('border-orange-500');
      }
    });
  
  </script>